.board-lists {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 90%;
  overflow-x: scroll;
  margin-left: 30px;
  gap: 15px;
}
.board-lists::-webkit-scrollbar {
  display: none;
}

.board-list{
  margin-top: 30px;
}
